/** utility class **/
.margin-60{
  margin-bottom: 60px;
}
/** header **/
.header-wrapper{
  font-size: medium;
}
.search{
  /* margin-right: 10px; */
}
.search :hover{
transform: scale(1.3);
}
.header-wrapper ul li{
  padding: 15px;
}
.header-wrapper li :hover{
  border-bottom: 0.1px solid white;
}
.text-color-grey {
  color: darkgray;
}
.header-wrapper .d-inline {
  padding: 5px;
  border: 1px solid white;
  opacity: 0.5;
}
.bg-color-header {
  background-color:  #0F044C;
}
.bg-color-footer {
  background-color: #141E61;
}
/** banner **/
.banner-wrapper{
  background-image: url("./bg-1.jpg");
  background-color: #C4DDFF;
  padding: 150px 0px 100px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner a{
  font-size: 20px;
}
.footer-wrapper ul {
  list-style: none;
}
.btn-view {
  --bs-btn-bg: #3f4b6f;
  --btn-border-color: #3f4b6f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3f4b6f;
  --bs-btn-hover-border-color: #3f4b6f;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3f4b6f;
  --bs-btn-active-border-color: #3f4b6f;
}
.btn-view :hover {
  transform: scale(1.4)!important;
}
/*** Logo **/
.logo {
  height: 40px;
}
/** cards **/
.card-spacing {
  /* margin-right: 50px; */
}
.card-img-top {
  width: 100%;
  max-height: 146px;
}
.card-body{
  --bs-bg-opacity: 1;
}
.card-body .no-text{
  padding: 30px;
}
.card-body .author{
  height: 48px;
}
.news-card{
transition: transform .4s;
cursor: pointer;
}
.news-card img:hover{
  opacity: 0.5;
}